.triangle {
	position: relative;
	margin: 3em;
	padding: 1em;
	box-sizing: border-box;
	background: black;

	box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.triangle h1 {
	color: white;
}
.triangle::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	margin-left: -0.5em;
	bottom: -2em;
	left: 48%;
	box-sizing: border-box;

	border: 1em solid black;
	border-color: transparent transparent #bada55 #bada55;

	transform-origin: 0 0;
	transform: rotate(-45deg);

	box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
}
.bannersetup {
	background-image: url("../../../public/child.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 767px) {
	.bannersetup {
		background-size: cover;
		background-position: center;
	}
}
